/* hero */
@media (max-width: 992px) {
#hero {
    max-width: 100%;
    font-size: small;       
}

.hero{
    width: 80%;
}
.hero h1{
    width: 80%;
    font-size: 40px;
}
.hero-info{
    width: 60%;
}
.hero-info h2{
    font-size: 40px;
    width: 80%;
}
.hero-info p{
    font-size: 10px;
    width: 40%;
}

.hero-img img{
    display: none;
}
/* recomendados */
.card-padre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;
    opacity: 0.8;
    letter-spacing: 3px;
}
.card-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-recomendaciones {
    height: 150px;
    width: 600px;
    gap: 10px;
}
.card-info {
    gap: 22px;
}
.card-info h4 {
    font-size: 27px;
}
.card-info p {
    font-size: 20px;
}
.card-info span {
    font-size: 27px;
    letter-spacing: 6px;
}
.div-img {
    width: 90px;
}
.div-img {
    padding: 0px 20px;
}
.agregar span {
    width: 100px;
    height: 40px;
}

/* categories*/
.categories {
    flex-wrap: wrap;
    max-width: 300px;
}
.category {
    width: 120px;
}

/* popu */
.populares_title {
    justify-content: center;
}
}


@media (max-width: 585px) {
header {
    margin-top: unset;
    height: 60px;
}

.hero-info p{
    width: 100%;
}
.hero-info {
    width: 80px;
    text-align: center;
}
/* recomendados */
.card-recomendaciones {
    height: 130px;
    width: 250%;
}
.card-info {
    gap: 10px;
}
.card-info h4 {
    font-size: 22px;
    letter-spacing: 4px;
}
.card-info p {
    font-size: 17px;
    letter-spacing: 4px;
}
.card-info span {
    font-size: 23p
}
/* category */
.categories {
    max-width: 300px;
    justify-content: center;
    align-items: center;
}
  /* popu */
.populares_item {
    width: 70%;
}
.footer-links {
    flex-direction: column;
}
}